@font-face {
    font-family: "grande";
    src: url(../font/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: "pequeño";
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}


#fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
*{
    margin: 0;
    padding: 0;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "grande";
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.back{
    position: absolute;
    top: 1vw;
    width: 1.3%;
    left: 1%;
}
.back:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.back-txt{
    position: absolute;
    top: 1.3vw;
    left: 3%;
    font-size: 0.8vw;
    color: white;
    font-family: "grande";
    text-decoration: none;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

#title{
    position: absolute;
    top: 0;
    left: 40%;
    align-items: center;
    width: 20%;
}
h3{
    font-family: "grande";
    font-size: 1vw;
    color: #fff;
    text-align: center;
    animation: fade 3s forwards;
}
#jugador{
    position: absolute;
    top: 35%;
    left: 31%;
    align-items: center;
    width: 20%;
}
#maquina{
    position: absolute;
    top: 35%;
    left: 51%;
    align-items: center;
    width: 20%;
}

@keyframes fade {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

.BotonPlay{
    position: absolute;
    width: 13%;
    height: 5%;
    left: 44%;
    top: 45vw;
    font-size: 1.4vw;
    font-family: "grande";
    border: 0.3vw solid white;
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    animation: fade 3s forwards, pulse 1.5s infinite;
    animation-delay: 0s, 1s; }

p {
    font-family: "grande";
    font-size: 1.3vw;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 41vw;
    left: 47.5%;
}

#player-card{
    position: absolute;
    top: 40%;
    left: 35%;
}
#machine-card{
    position: absolute;
    top: 40%;
    left: 55%;
}