@font-face {
    font-family: "grande";
    src: url(../font/MYRIADPRO-BOLD.OTF);
}

@font-face {
    font-family: "pequeño";
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}


.fondo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
*{
    margin: 0;
    padding: 0;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    align-items: center;
}

.logo img{
    width: 300%;
    height: 300%;
    position: absolute;
    left: 16%;
    top: -20%;
    opacity: 0; 
    animation: fade 3s forwards; 
}


@keyframes fade {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}


.BotonStart{
    position: absolute;
    width: 17%;
    height: 7%;
    left: 41.8%;
    top: 45vw;
    font-size: 2vw;
    font-family: "grande";
    border: 0.3vw solid white;
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    animation: fade 3s forwards, pulse 1.5s infinite;
    animation-delay: 0s, 1s; }

  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
.ayuda{
    position: absolute;
    top: 2vw;
    width: 4%;
    left: 1%;
}
.ayuda:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.ayuda-txt{
    position: absolute;
    top: 3.2vw;
    left: 5%;
    font-size: 1.5vw;
    color: black;
    font-family: "grande";
    text-decoration: none;
    animation: pulse 1.5s infinite;
}